* {
	vertical-align: baseline;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: none;
}

html,body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background: url("../img/pattern.png");
	overflow: hidden;
}

header {
	background-color: rgba(0,0,0,.5);
	width: 100%;
	color: white;
	text-align: center;
	font-weight: 300;
	letter-spacing: 0.12vw;
	margin: 0;
	padding: 10px;
	position: absolute;
}

header p {
	margin: 0px;
}

section {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer {
	background-color: #111;
	width: 100%;
	color: white;
	text-align: center;
	font-weight: 300;
	letter-spacing: 0.12vw;
	margin: 0;
	padding: 10px;
	bottom: 0;
	position: fixed;
}

footer p {
	margin: 0px;
}

#gameBlock {
	background: rgba(42,88,133,0.9);
	text-align: justify;
	padding: 25px;
	width: 40vh;
	font-family: 'Open Sans';
	font-weight: 800;
	font-size: 1.7vh;
	color: white;
	border-radius: 10px;
	box-shadow: 5px 5px 20px rgba(0,0,0,.5);
}

#gameBlock img {
	width: 100%;
	margin-top: 10px;
	border-radius: 5px;
	bottom: 0;
}

#gameBlock p {
	letter-spacing: .04vw;
}

.slideFadeLeft {
	animation-name: slideOutLeft, fadeOut;
	animation-duration: 1s, 0.2s;
	animation-delay: 0s, 0.2s;
}

.slideFadeRight {
	animation-name: slideOutRight, fadeOut;
	animation-duration: 1s, 0.2s;
	animation-delay: 0s, 0.2s;
}